@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


:root {

  --background-color: #ffffff;
  --text-a-black: black;
  --primary-color: whitesmoke;
  --description-card: rgba(0, 0, 0, 0.671);
  --box-shadow-card: rgba(211, 211, 226, 0.767);
  --hover-card: rgba(0, 0, 0, 0.61);
  --transform-card: rgba(211, 211, 226, 0.767);
  --card-food-shadow: rgb(192, 185, 185);
  --footer-color: rgb(233, 230, 230);
}

[data-theme="dark"] {

  --background-color: #020214;
  --text-a-black: rgb(255, 255, 255);
  --primary-color: rgb(0, 0, 0);
  --description-card: rgba(61, 59, 59, 0.671);
  --box-shadow-card: rgba(141, 139, 139, 0.548);
  --hover-card: rgba(167, 167, 167, 0.363);
  --transform-card: rgba(205, 205, 206, 0.253);
  --card-food-shadow: rgba(146, 129, 129, 0.356);
  --footer-color: rgb(56, 53, 53);
}


body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
  width: 100%;

  padding: 0px 15px;
}

.header a {
  padding-left: 0px 40px;
  margin: 10px;
  transition: 600ms;
}

.header nav a:hover {
  border: 1px solid rgb(16, 227, 255);
  border-radius: 8px;
  background: rgba(24, 19, 19, 0.644);
  color: rgb(0, 225, 255);
}

.header nav ul {
  padding: 11px 16px 0px 16px;
}

.header nav ul li a {
  color: black;
  padding: 8px 38px;
}

.header .menu .logo-site #logo img {
  display: flex;
  justify-content: center;
  width: 140px;
  margin: 5px 15px;
  padding: 10px 15px;
}

.header .menu .logo-site #logo img a {
  display: flex;
  justify-content: center;
}

.menu-navigator {
  display: flex;
  padding: 10px;
}
.mid-content {
  width: 100%;
}

.description-site {
  max-width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.description-site > div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 13px;
}

.description h1 {
  width: 175px;
  margin-top: 5px;
  padding: 30px 0;
  font-size: 1.4rem;
}

.description-site > div h3 {
  width: 175px;
  margin-top: 5px;
  padding: 30px 0;
}

.footer {
  display: flex;
  justify-content: center;
  background: rgb(231, 226, 226);
  padding: 15px;
  margin-top: 15px;
}

.final {
  display: inline;
  max-width: 100%;
  text-align: center;
}
